.dashboard-container {
  margin: 0;
  padding: 0;
  display: flex;

}

.left-column {
  padding: 1em;
  width: 25%;
  background-color: purple;
  height: 100%;
  /* Full height */
  position: fixed;
  /* Make it stick, even on scroll */
  overflow: hidden;
  /* Enable scrolling if the sidenav has too much content */
}

.right-column {
  margin-left: 25%;
  padding: 1px 16px;
  height: 1000px;
  /* background-color: wheat; */
  width: 75%;
}