.set {
    position: relative;
}

.progress-arrow {
    margin-bottom: 2em;
    text-align: center;
}

.progress-arrow button {
    border-radius: 50%;
    background-color: transparent;
    /* color: white; */
    border: none;
    cursor: pointer;
}