.container {
  display: flex;
  background-color: #f2f2f2;
}

.left-column {
  width: 20%;
  background-color: #800080;
  color: #ffffff;
  padding: 10px;
}

.learning-hub {
  font-weight: bold;
  text-align: center;
}

.dashboard-button {
  display: block;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 5px;
  margin-top: 10px;
  text-align: left;
}

.dashboard-button:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.right-column {
  width: 80%;
  padding: 10px;
  color: #000000;
}

.flashcard-title {
  font-weight: bold;
  font-size: 24px;
}

.flashcard-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.flashcard-set {
  width: calc(33.33% - 20px);
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
}

.set-header {
  display: flex;
  justify-content: space-between;
}

.set-name {
  font-weight: bold;
}

.set-actions {
  position: relative;
}

.set-action-button {
  background-color: transparent;
  border: none;
  color: #000000;
  padding: 0;
  cursor: pointer;
}

.set-action-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #800080;
  display: flex;
  flex-direction: column;
  padding: 5px;
  display: none;
}

.set-action-dropdown-item {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.set-action-button:hover+.set-action-dropdown,
.set-action-dropdown:hover {
  display: flex;
}

.set-info {
  margin-top: 5px;
  color: #808080;
}

.add-new-set {
  width: calc(33.33% - 20px);
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add-new-icon {
  font-size: 32px;
  font-weight: bold;
}

.add-new-text {
  margin-top: 10px;
  font-weight: bold;
}

.set-progress-bar {
  height: 10px;
  background-color: #0a85f8;
  margin-top: 20px;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .left-column {
    width: 100%;
    padding: 10px;
  }

  .right-column {
    width: 100%;
    padding: 10px;
  }

  .flashcard-set,
  .add-new-set {
    width: calc(50% - 20px);
  }
}