/* .user-list-container {
    display: flex;
}


.management-button {
    width: 100%;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 5px;

}

.management-button.active {
    background-color: white;
}



.user-button {
    text-align: right;
    border: gray;
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #9747ff;
    color: white;
    border: 1px rgb(23, 1, 44);
}

.management-wrapper {
    margin-top: 100px;
    text-align: left;
}

.search-bar {
    margin-bottom: 1rem;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 0.5rem;
    border: 1px solid rgb(58, 1, 50);
}

th {
    font-weight: bold;
    background-color: #9747ff;
}

.status-cell {
    text-align: center;
}

.status-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.status-dot.active {
    background-color: green;
}

.status-dot.inactive {
    background-color: red;
} */